<div class="container">
  <h1>
    Profiles <small class="lead">Welcome to the profiles page! Here you can view all user profiles.</small>
  </h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <img src="<%= profile.avatar_url %>" class="card-img-top" alt="Profile image" style="height: 100px; width: 100px; object-fit: cover; border-color: darkgray; border-width: 1px; border-style: solid;">
          <div class="card-body">
            <h5 class="card-title">@<%= profile.username %></h5>
            <p class="card-text"><%= profile.bio %></p>
            <%= link_to "View Profile", profile_path(profile), class: "btn btn-sm btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
