<div class="container">
  <h1>All Users</h1>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">User</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr style="vertical-align: middle;">
          <th scope="row"><%= user.id %></th>
          <td><%= user.email %></td>
          <td><%= user.profile.username %></td>
          <td><%= link_to "View User", user_path(user), class: "btn btn-sm btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>