<div class="container">
  <h1 class="mb-4">Hashtags</h1>
</div>
<div class="container">
  <ul>
    <% @hashtags.each do |hashtag| %>
      <li class="mb-2">
        #<%= hashtag.tag %> - 
        <%= link_to "View", hashtag_path(hashtag), class: "btn btn-sm btn-outline-primary" %>
      </li>
    <% end %>
  </ul>
</div>