<<<<<<< HEAD
<div class="container">
  <h1 class="mb-4">Hashtags</h1>
</div>
<div class="container">
  <ul>
    <% @hashtags.each do |hashtag| %>
      <li class="mb-2">
        #<%= hashtag.tag %> - 
        <%= link_to "View", hashtag_path(hashtag), class: "btn btn-sm btn-outline-primary" %>
      </li>
    <% end %>
  </ul>
</div>
=======
<h1 class="text-center mb-4">Hashtags</h1>

<div class="container">
  <ul class="list-group">
    <% @hashtags.each do |hashtag| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        #<%= hashtag.tag %>
        <%= link_to "View", hashtag_path(hashtag), class: "btn btn-primary btn-sm" %>
      </li>
    <% end %>
  </ul>
</div>
>>>>>>> 6e5116f (Edit y Delete en Profile)
