<div class="container text-center mb-4">
  <h1>Hashtags</h1>
  <small class="lead">Explore the hashtags used by our community!</small>
</div>

<div class="container">
  <ul class="list-group">
    <% @hashtags.each do |hashtag| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        #<%= hashtag.tag %>
        <%= link_to "View", hashtag_path(hashtag), class: "btn btn-primary btn-sm" %>
      </li>
    <% end %>
  </ul>
</div>
