<div class="text-center mt-5">
  <h1>Welcome to RedSocial 📸</h1>
  <p class="lead">Start exploring posts, profiles, hashtags and more!</p>

  <%= link_to "Browse Posts", posts_path, class: "btn btn-primary btn-lg mt-3" %>
</div>
